<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- TestRail Configuration -->
    <add key ="Projects" value="Consumer Site;Agent Admin;CBA-API;Email-API;Domain SEO;Mobile Site;ES New Cluster;Mixed Content Scan;Experiments;Find An Agent;Digital Data"/>
    <!-- Projects -->
    <add key="Consumer Site" value="1"/>
    <add key="Agent Admin" value="2"/>
    <add key="CBA-API" value="4"/>
    <add key="Email-API" value="3"/>
    <add key="Domain SEO" value="5"/>
    <add key="Mobile Site" value="6"/>
    <add key="ES New Cluster" value="7"/>
    <add key="Mixed Content Scan" value="8"/>
    <add key="Experiments" value="9"/>
    <add key="Find An Agent" value="10"/>
    <add key="Digital Data" value="11"/>
    <!-- Settings -->
    <add key="FailedTestsDirectory" value="C:\FailedTests"/>
    <add key="FailedTestsThreshold" value="20"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>